$primary: #7a4464;
$info: #447a70;
//$secondary: #7a6a44;

@import '~bootstrap';
@import '~bootstrap-vue';

body{
   background-color: #f5f1ec;
}

form input:-webkit-autofill {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

@font-face {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-display: optional;
}
